// Mixins for Media Queries
// example usage: @include min(lg) || @include min(720)
// --- min-width
@mixin min($bp) {
	@if map-has-key($grid-breakpoints, $bp) {
		@media (min-width: map-get($grid-breakpoints, $bp)) {
			@content;
		}
	} @else {
		@media (min-width: #{$bp + 'px'}) {
			@content;
		}
	}
}

// --- min-height
@mixin minh($bp) {
	@if map-has-key($grid-breakpoints, $bp) {
		@media (min-height: map-get($grid-breakpoints, $bp)) {
			@content;
		}
	} @else {
		@media (min-height: #{$bp + 'px'}) {
			@content;
		}
	}
}

// --- max-width
@mixin max($bp) {
	@if map-has-key($grid-breakpoints, $bp) {
		$bp_max: map-get($grid-breakpoints, $bp) - 1;
		@media (max-width: $bp_max) {
			@content;
		}
	} @else {
		@media (max-width: #{$bp + 'px'}) {
			@content;
		}
	}
}

// --- max-height
@mixin maxh($bp) {
	@if map-has-key($grid-breakpoints, $bp) {
		$bp_max: map-get($grid-breakpoints, $bp) - 1;
		@media (max-height: $bp_max) {
			@content;
		}
	} @else {
		@media (max-height: #{$bp + 'px'}) {
			@content;
		}
	}
}
@mixin flexRowCenter {
	display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin flexColumCenter {
	display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin contactMin {
	font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $grey9;
	
}
@mixin contactXl {
	font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $grey9;
	
}
