// colors
$white: #ffffff;
$black: #000000;
$grey4: #4E4E4E;
$grey7: #7C7C7C;
$grey5: #5C5C5C;
$green-grey: #57A4A4;
$grey9: #B9B9B9;
$burgerColor: #F5F5F5;

// Fonts -------------------------------------------
$font-text: 'Roboto', sans-serif;
$font-heading: 'Roboto', sans-serif;

// Transitions -------------------------------------------
$time: 0.3s;

// Grid breakpoints -------------------------------------------
// for min-width = values, for max-width = value - 1px.
// example: @include min(lg) = @media (min-width: 1025px)
// example: @include max(lg) = @media (max-width: 1024px)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
