.footer {
  background-color: $black;
  padding-top: 38px;
  padding-bottom: 47px;
  @include min(md) {
    padding-top: 57px;
    padding-bottom: 56px;
  }
  @include min(xl) {
    padding-top: 66px;
    padding-bottom: 70px;
  }
  &__title {
    line-height: 22px;
    color: $white;
    text-align: center;
    margin-bottom: 8px;

    @include min(md) {
      font-size: 16px;
      margin-bottom: 22px;
    }
  }
  &__info {
    margin: 0 auto;
    margin-bottom: 26px;
    width: 303px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: $grey9;
    &-textDelete {
      display: none;
      @include min(md) {
        display: inline-block;
      }
    }

    @include min(md) {
      font-size: 16px;
      margin-bottom: 37px;
      width: 684px;
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__social-networks-icon {
    &-nav-menu {
      @include flexRowCenter;
      padding: 0;
      margin: 0 0 25px;
      &-item {
        margin: 0 5px;
      }
      &-item img {
        width: 34px;
        height: 34px;
      }
      @include min(md) {
        margin: 0 0 34px;
      }
    }
  }
  &__contact {
    @include flexColumCenter;

    &-address a {
      @include contactMin;
    }

    &-tel a {
      @include contactMin;
    }
    &-address a::after,
    &-tel a::after {
      content: '/';
      padding: 0 12px;
    }
    &-email a {
      @include contactMin;
    }

    @include min(xl) {
      @include flexRowCenter;

      &-address a {
        @include contactXl;
      }

      &-tel a {
        @include contactXl;
      }
      &-address a::after,
      &-tel a::after {
        content: '/';
        padding: 0 12px;
      }
      &-email a {
        @include contactXl;
      }
    }
  }
}
