html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    
    background-color: $white;
    color: $black;
    font-family: $font-text;
    line-height: 1.5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    // @include min(md) {
    // max-width: 768px;
    // margin: 0 auto;
    // padding: 0 15px;
    // }
}
