.header {
  position: relative;
}
.header-nav {
  .menu {
    @include flexColumCenter;
    align-items: flex-start;
    gap: 8px;
    position: fixed;
    top: -100%;
    right: 15px;
    margin: 16px 0 0 0;
    padding: 0;
    background-color: $burgerColor;
    // overflow: auto;

    @include min(md) {
      @include flexRowCenter;
      align-items: center;
      position: relative;
      gap: 34px;
      padding: 41px 84px 0;
      margin-top: 0;
      margin-bottom: 43px;
      background-color: $white;
      top: 0;
      right: 0;
    }

    @include min(xl) {
      gap: 68px;

      margin-bottom: 51px;
      padding: 45px 180px 0;
    }

    &__item {
      display: block;

      transition: $time;

      &:hover {
        background-color: #e5e5e5;
      }

      @include min(md) {
        text-align: center;

        &:hover {
          background-color: $white;
        }
      }

      @include min(xl) {
        text-align: center;

        &:hover {
          background-color: $white;
        }
      }
    }

    &__link {
      padding-top: 5px;
      padding-left: 13px;
      transition: $time;

      &:hover {
        color: $green-grey;
      }

      @include min(md) {
        padding: 0;
      }
    }
  }
  .menu.active {
    top: 44px;
    width: 182px;
    transition: $time;
    
  }

  .btn {
    @include flexRowCenter;
    align-items: center;
    background-color: $black;
    width: 44px;
    height: 37px;
    position: fixed;
    top: 23;
    right: 0;
    margin-right: 15px;
    margin-top: 23px;
    cursor: pointer;

    @include min(md) {
      display: none;
    }

    .span {
      display: block;
      position: relative;
      width: 17px;
      height: 2px;
      background-color: $white;

      &.active {
        background-color: $black;
      }

      &::before {
        position: absolute;
        content: '';
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        @extend .span;
        transition: $time;
      }

      &.active::before {
        top: 1px;
        transform: rotate(50deg);
        left: 0;
        background-color: $white;
      }

      &::after {
        position: absolute;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        bottom: 5px;
        @extend .span;
      }

      &.active::after {
        bottom: -1px;
        left: 0;
        transform: rotate(-50deg);
        background-color: $white;
      }

      @include min(md) {
        display: none;
      }
    }
  }
}
