.mainfoto {
  padding-top: 83px;
  @include min(md) {
    padding-top: 0;
  }
  &__introfoto {
    img {
      width: 100%;
      height: 150px;
      margin-bottom: 38px;
      @include min(md) {
        height: 361px;
        margin-bottom: 56px;
      }
      @include min(xl) {
        height: 550px;
        margin-bottom: 66px;
      }
    }
  }
}

.posts {
  // margin-bottom: 24px;
  &__title {
      padding-top: 5px;
      margin-bottom: 23px;
    @include min(md) {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
  &__blocks {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    @include min(md) {
      display: flex;
      flex-direction: column;

      row-gap: 32px;
      padding-bottom: 60px;
    }
    @include min(xl) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 32px 55px;
      padding-bottom: 69px;
    }

    &-post {
      display: flex;
      flex-direction: column;

      column-gap: 11px;
      @include max(md) {
        &:last-child {
          display: none;
        }
      }
      @include min(md) {
        display: flex;
        flex-direction: row;

        column-gap: 21px;
      }
      @include min(xl) {
        display: flex;
        flex-direction: row;
        width: 555px;
      }

      &-img img {
        width: 160px;
        height: 140px;
      }
      &-info {
        display: flex;
        flex-direction: column;
        &-title {
          line-height: 30px;
          margin-bottom: 1px;
          // width: 295px;
          @include min(md) {
            font-size: 16px;
          }
        }
        &-meta {
          margin-bottom: 29px;
          font-size: 11px;
          line-height: 20px;
          color: $grey7;
          @include min(md) {
            font-size: 12px;
            margin-bottom: 13px;
          }
        }
        &-text {
          @include max(md) {
            display: none;
          }
          @include min(md) {
            width: 404px;
            font-size: 14px;
            line-height: 26px;
            color: $grey5;
          }
        }
      }
    }
  }
}

.social-networks {
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: 37px;
  padding-top: 47px;
  padding-bottom: 49px;

  &__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    &-shots-click {
      line-height: 22px;
    }

    &-pages-click {
      font-size: 13px;
      @include max(md) {
        display: none;
      }
    }
  }

  &__gallery {
    margin-bottom: 49px;
    @include min(md) {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include min(xl) {
      grid-template-columns: repeat(4, 1fr);
    }

    &-item {
      @include max(md) {
        &:not(:first-child) {
          display: none;
        }
      }

      @include min(md) {
        @include max(xl) {
          &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
            display: none;
          }
        }
      }

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
