h1,
h2
{
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: $grey4;
  text-transform: uppercase;
}
h2 {
  line-height: 30px;
}
h3 {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: $grey7;
  text-transform: none;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $grey5;
}
li {
  list-style: none;
  line-height: 0;
}
a {
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  // letter-spacing: 1px;
  text-transform: uppercase;
  color: $grey4;
  text-decoration: none;
  cursor: pointer;
}
